html,
body {
  height: 100%;
}

body {
  /*display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

.form-signin {
  /*width: 100%;
  max-width: 500px;
  margin: auto;*/
  /*padding: 15px;*/
}
 

.card-container.card {
  /*max-width: 40%;
    padding: 40px 40px;*/
}

.card {
    /* just in case there no content*/
    padding: 20px 25px 30px;
    /*margin: 0 auto 25px;*/
    margin-top: 5%;
    /* shadows and rounded borders */
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
