body{
	scroll-behavior: smooth;
}

label{
  font-weight:bold;
}

.toast-container{
	position: fixed;
	bottom: 0px;
	right: 90px;
	z-index: 1000;
	min-height: 100px;

}

.btn-fixed{
	position: fixed;
	right: 20px;
	z-index: 1000;
	border-radius: 50px;
	padding: 6px 12px 6px 16px;
	transition: border-radius 500ms;
  	animation-delay: 500ms;
}

.btn-fixed .badge{
	position: absolute;
	z-index: 1000;

	right:-5px;
	top:-5px;
/*
	width: 20px;
	height: 20px;
*/

	transition: right 500ms,top 500ms;
}

.btn-fixed:hover .badge{
	right:4px;
	top:14px;
}

.btn-1{bottom: 20px;}
.btn-2{bottom: 80px;}
.btn-3{bottom: 140px;}
.btn-4{bottom: 200px;}

.btn-fixed:hover{
	border-radius: 5px;
}

.hover-show{
	overflow: hidden;
	display: inline-block;
	/*display: none;*/
	/*background-color: black;*/
	width: 0px;
	transition: width 500ms;
	white-space: nowrap;
	/*padding: 5px 0px 0px 0px;*/
	margin: 5px 0px 0px 0px;
}

.btn .fa-lg{
	display: inline-block;
	/*padding: 0px 0px 5px 0px;*/
	margin: 0px 0px 5px 0px;
}

.btn:hover .hover-show{
	display: inline-block;
	width: 100px;
}

